In [1]:
# import the neccessary libraries into the envinronment 
import pandas as pd
import numpy as np

In [2]:
# importing the visualization libraies 
import matplotlib.pyplot as plt 
import seaborn as sns
%matplotlib inline

In [3]:
import operator
import pandas_profiling

In [4]:
ds=pd.read_csv(r'C:\Users\m_joekid\Desktop\Vscodes\datasets\util.csv')

## Exploratory Data Analysis (Quiz Solutions)

In [5]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29523 entries, 0 to 29522
Data columns (total 11 columns):
record_id                       29523 non-null object
utility_id_ferc1                29523 non-null int64
report_year                     29523 non-null int64
plant_name_ferc1                29523 non-null object
fuel_type_code_pudl             29523 non-null object
fuel_unit                       29343 non-null object
fuel_qty_burned                 29523 non-null float64
fuel_mmbtu_per_unit             29523 non-null float64
fuel_cost_per_unit_burned       29523 non-null float64
fuel_cost_per_unit_delivered    29523 non-null float64
fuel_cost_per_mmbtu             29523 non-null float64
dtypes: float64(5), int64(2), object(4)
memory usage: 2.5+ MB

In [6]:
ds.groupby('fuel_type_code_pudl').mean()['fuel_cost_per_unit_burned'].idxmin() # this returns the index of the minimum value

'gas'

In [7]:
ds.describe().round(decimals=2)['fuel_mmbtu_per_unit']

count    29523.00
mean         8.49
std         10.60
min          0.00
25%          1.02
50%          5.76
75%         17.01
max        341.26
Name: fuel_mmbtu_per_unit, dtype: float64

In [8]:
print ('skewness of fuel qty burned:',ds.skew().round(decimals=2)['fuel_qty_burned'])
print('\n')
print('Kurtosis of fuel qty burned:', ds.kurt().round(decimals=2)['fuel_qty_burned'])

skewness of fuel qty burned: 15.85


Kurtosis of fuel qty burned: 651.37

In [9]:
print (ds.isnull().sum())
print('\n')
print('percentage of missing value:', ds.isnull().sum().sum()/ds.shape[0]*100)

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64


percentage of missing value: 0.609694136774718

In [10]:
ds.corr()['fuel_cost_per_unit_burned'].sort_values(ascending=True)

utility_id_ferc1               -0.037863
fuel_qty_burned                -0.018535
fuel_mmbtu_per_unit            -0.010034
fuel_cost_per_mmbtu            -0.000437
fuel_cost_per_unit_delivered    0.011007
report_year                     0.013599
fuel_cost_per_unit_burned       1.000000
Name: fuel_cost_per_unit_burned, dtype: float64

In [11]:
t=ds.groupby(['report_year','fuel_type_code_pudl']).mean()

In [12]:
print (t.loc[1994].loc['coal']['fuel_cost_per_unit_burned']) # prints the value of the fuel cost per unit burned for coal in 1994
print ('\n') # prints a space 
print (t.loc[1998].loc['coal']['fuel_cost_per_unit_burned']) # prints the value of the fuel cost oer unit burned for coal in 1998

31.546467368421077


27.61623433874713

In [13]:
t1=t.xs('coal',level='fuel_type_code_pudl')['fuel_cost_per_unit_burned'] # cross-sectioning

In [14]:
# since the pandas function pct.change() works only with the immediate previous number, i customised for the whole list
pct=t1/t1[1994]-1 # pct change for the whole list with respect to 1994, can be easily tweaked for any year 
pct[1998] #percentage change for 1998

-0.12458551963280118

In [15]:
ds.groupby('report_year').mean()['fuel_cost_per_unit_delivered'].idxmax() # returns the index of the maximum fuel cost per unit delievered

1997